<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" strict="true"
               xmlns="http://logging.apache.org/log4j/2.0/config"
               xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
               xsi:schemaLocation="http://logging.apache.org/log4j/2.0/config https://raw.githubusercontent.com/apache/logging-log4j2/master/log4j-core/src/main/resources/Log4j-config.xsd">
    <Properties>
        <Property name="LOG_PATTERN">
            %d{YYYY-MM-dd HH:mm:ss.SSS} %highlight{[%p] [%X{username}] [%X{correlationId}] %logger{36} : %msg%n}{FATAL=red blink, ERROR=red, WARN=yellow bold, INFO=WHITE, DEBUG=green bold, TRACE=blue}
        </Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout disableAnsi="false" pattern="${LOG_PATTERN}"/>
        </Console>
        <RollingFile
                name="McsmRollingFile"
                fileName="logs/mcsm-logs.log"
                filePattern="logs/mcsm-logs.%d{dd-MM-yyyy}.log.gz"
                ignoreExceptions="false">
            <PatternLayout>
                <Pattern>${LOG_PATTERN}</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
            </Policies>
            <DefaultRolloverStrategy max="5" />
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="McsmRollingFile"/>
            <AppenderRef ref="Console"/>
        </Root>
        <Logger name="org.springframework" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
    </Loggers>
</Configuration>