<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragments :: head (pageTitle='Configuration')">
</head>
<script type="text/javascript" th:src="@{/js/config-home.js}" defer></script>
<body>
<div th:replace="fragments/fragments :: header"></div>
  <div class="container mt-4">
    <div class="card-deck">
        <div id="java-config" class="card">
          <div class="card-body">
            <h5 class="card-title">Java Configuration</h5>
            <p class="card-text">Configure available Java versions in MCSM</p>
            <a class="stretched-link" th:href="@{/config/java}"></a>
          </div>
        </div>
    </div>
  </div>
</body>
</html>