<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments/fragments :: head (pageTitle='Home')">
</head>
<body>
    <script type="text/javascript">
        $(document).ready(function () {
            console.log("Registering cards...");
            $(".card").on("click", function (event) {
                console.log("Clicked!");
                let serverId = $(this).find("#server-id").val();
                window.location.href = "/servers/" + serverId;
            });
            $("#import-server-button").on("click", function() {
                $("#server-import-modal").modal("show");
            });
            $("#import-server").on("click", function() {
                var data = {};
                data["server-name"] = $("#server-name").val();
                data["path"] = $("#path").val();
                data["platform"] = $("#platform").val();
                $.ajax({
                    url: "/api/servers/import-server",
                    method: "POST",
                    data: JSON.stringify(data),
                    contentType: "application/json",
                    success: function (response) {
                        location.reload();
                    },
                    error: function (response) {
                        alert(response.responseJSON.message)
                        console.log(response);
                        console.log("Error: " + response.responseJSON.message);
                    }
                });
            });
        });
    </script>
    <div class="modal fade" tabindex="-1" role="dialog" id="server-import-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Import server</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="server-name">Server name</label>
                        <input id="server-name" type="text" name="server-name" placeholder="Server name" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="path">Path</label>
                        <input id="path" type="text" name="path" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="platform">Platform</label>
                        <select id="platform" class="form-control" required>
                            <th:block th:each="platform : ${T(pl.bartlomiejstepien.mcsm.domain.platform.Platform).values()}">
                                <option th:value="${platform.getName()}" th:text="${platform.getName()}"></option>
                            </th:block>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="import-server">Import</button>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="fragments/fragments :: header"></div>

    <div class="container mt-4">


        <h3>My Servers</h3>
        <hr>

        <div class="text-center" th:if="${!servers.isEmpty()}">
            <th:block th:each="server : ${servers}">

                <div class="card mt-2 mr-2 card-clickable" style="width: 22rem; display: inline-block; text-overflow: ellipsis; overflow: hidden;">
                    <!--                    <img class="card-img-top" th:src="${modpack.getThumbnailUrl()}" alt="Card image cap">-->
                    <div class="card-body">
                        <h5 class="card-title" th:text="${server.getName()}"></h5>
                        <input id="server-id" hidden th:value="${server.getId()}">
                        <p class="card-text"></p>
                    </div>
                </div>

            </th:block>
        </div>

        <div class="mt-3 text-center">
            <div th:if="${servers.isEmpty()}">
                <p class="text-muted">Your server list is empty :(</p>
            </div>
            <a href="#" th:href="@{/servers/select-platform}" class="btn btn-light">Add a new server</a>
            <a href="#" id="import-server-button" class="btn btn-light">Import server</a>
        </div>
    </div>
</body>
</html>
