<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments/fragments :: head (pageTitle='Add Server')">
</head>
<body>
    <script type="text/javascript">
        $(document).ready(function () {

            $(".card").on("click", function () {
                $(this).on("click", function () {
                    let modpackTitle = $(this).find(".card-title").text();
                    let modpackId = $(this).find("#modpack-id").val();

                    $.ajax({
                        url: "/api/modpacks/" + modpackId + "/description",
                        method: "GET"
                    }).done(function (description) {

                        $("#modpack-modal .modal-title").text(modpackTitle);
                        $("#modpack-modal .modal-body").html(description);

                        $("#modpack-modal #install-server").attr("modpack-id", modpackId);

                        $("#modpack-modal").modal("show");
                    });
                });
            });

            $("#install-server").on("click", function () {
                $("#modpack-modal").modal("hide");

                $("#server-install-modal .modal-title").text("Server installation");
                $("#server-install-modal").modal("show");

                let installationStatusMessageInterval;

                let modpackId = $("#install-server").attr("modpack-id");

                //TODO: Fire installation on the server...
                $.ajax({
                    url: "/api/modpacks/" + modpackId + "/install",
                    method: "POST"
                }).done(function (response) {
                    console.log(response);
                    clearInterval(installationStatusMessageInterval);
                    $("#server-install-modal .modal-body").text("Your server is ready!");
                    $("#server-install-modal #open-server").removeAttr("hidden");
                    $("#server-install-modal #open-server").attr("href", "/servers/" + response);
                }).fail(function (response) {
                    console.log(response);
                    clearInterval(installationStatusMessageInterval);
                    $("#server-install-modal .modal-body").text("Someting went wrong...");
                });

                function showInstallationStatus() {
                    //TODO: Show installation status for the given user.
                    $.ajax({
                        url: "/api/servers/installation-status/" + modpackId,
                        method: "GET"
                    }).done(function (response) {
                        $("#server-install-modal #installation-status").text(response);
                    });
                }

                //TODO: Show installation status for the user
                installationStatusMessageInterval = setInterval(showInstallationStatus, 4000);
            });
        });
    </script>

<div class="modal" tabindex="-1" role="dialog" id="server-install-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <div class="text-center">
                    <p>Your modpack is being installed. Please wait!</p>
                    <div class="loader" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <p id="installation-status"></p>
                </div>
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-primary" hidden id="open-server">Go to server</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-exmaple-modal-lg" tabindex="-1" role="dialog" id="modpack-modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="install-server">Install</button>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/fragments :: header"></div>

<div class="container mt-4">


    <h3>Add server</h3>
    <hr>

    <h4>Select desired modpack</h4>
    <div class="">
        <th:block th:each="modpack : ${modpacks}">

            <div class="card mt-2 mr-2 card-clickable" style="width: 18rem; height: 500px; display: inline-block; text-overflow: ellipsis; overflow: hidden;">
                <img class="card-img-top" th:src="${modpack.getThumbnailUrl()}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title" th:text="${modpack.getName()}"></h5>
                    <p th:text="'Version: ' + ${modpack.version}"></p>
                    <input id="modpack-id" hidden th:value="${modpack.getId()}">
                    <p class="card-text" th:text="${modpack.getSummary()}"></p>
                </div>
            </div>

        </th:block>
    </div>


</div>

</body>
</html>