<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments/fragments :: head (pageTitle='Add Server')">
</head>
<body>
    <script type="text/javascript">
        $(document).ready(function () {

            function registerCardClickEvent(card) {
                $(card).on("click", function () {
                    // $(this).on("click", function () {
                    let modpackTitle = $(this).find(".card-title").text();
                    let modpackId = $(this).find(".modpack-id").val();

                    $.ajax({
                        url: "/api/modpacks/" + modpackId + "/description",
                        method: "GET"
                    }).done(function (description) {
                        $("#modpack-modal .modal-title").text(modpackTitle);
                        $("#modpack-modal .modal-body").html(description);
                        $("#modpack-modal #install-server").attr("modpack-id", modpackId);
                        $("#modpack-modal").modal("show");
                    });
                });
            }

            function appendModpacksToList(modpackObjects) {
                for (const modpackObject of modpackObjects) {
                    let modpackCardTemplate = $("#modpack-card-template").clone().children().first();
                    modpackCardTemplate.find(".card-img-top").attr("src", modpackObject["thumbnailUrl"]);
                    modpackCardTemplate.find(".card-title").text(modpackObject["name"]);
                    modpackCardTemplate.find(".card-version").text("Version " + modpackObject["version"]);
                    modpackCardTemplate.find(".modpack-id").val(modpackObject["id"]);
                    modpackCardTemplate.find(".card-text").text(modpackObject["summary"]);
                    modpackCardTemplate.attr("hidden", false);

                    $("#modpacks-list").append(modpackCardTemplate);

                    registerCardClickEvent(modpackCardTemplate);
                }
            }

            for (const card of $(".card")) {
                registerCardClickEvent(card);
            }


            $("#category-filter").on("change", function (){
                let categoryId = $(this).val();
                let version = $("#version-filter").val();
                console.log("Category changed to = " + categoryId);

                $.ajax({
                    url: "/api/modpacks/search?categoryId=" + categoryId + "&size=20&version=" + version + "&index=0",
                    method: "GET",
                    success: function (response) {
                        console.log(response);
                        $("#modpacks-list").empty();
                        appendModpacksToList(response);
                    }
                });
            });

            $("#version-filter").on("change", function (){
                let version = $(this).val();
                let categoryId = $("#category-filter").val();
                console.log("Version changed to = " + categoryId);

                $.ajax({
                    url: "/api/modpacks/search?categoryId=" + categoryId + "&size=20&version=" + version + "&index=0",
                    method: "GET",
                    success: function (response) {
                        console.log(response);
                        $("#modpacks-list").empty();
                        appendModpacksToList(response);
                    }
                });
            });

            $("#install-server").on("click", function () {
                $("#modpack-modal").modal("hide");

                $("#server-install-modal .modal-title").text("Server installation");
                $("#server-install-modal").modal("show");

                let installationStatusMessageInterval;

                let modpackId = $("#install-server").attr("modpack-id");

                //TODO: Fire installation on the server...
                $.ajax({
                    url: "/api/modpacks/" + modpackId + "/install",
                    method: "POST"
                }).done(function (response) {
                    console.log(response);
                    clearInterval(installationStatusMessageInterval);
                    $("#server-install-modal .modal-body").text("Your server is ready!");
                    $("#server-install-modal #open-server").removeAttr("hidden");
                    $("#server-install-modal #open-server").attr("href", "/servers/" + response);
                }).fail(function (response) {
                    console.log(response);
                    clearInterval(installationStatusMessageInterval);
                    $("#server-install-modal .modal-body").text(response["responseJSON"]["message"]);
                });

                function showInstallationStatus() {
                    //TODO: Show installation status for the given user.
                    $.ajax({
                        url: "/api/servers/installation-status/" + modpackId,
                        method: "GET"
                    }).done(function (response) {
                        let message = response["message"];
                        let percent = response["percent"];
                        $("#server-install-modal #installation-status").text(percent + " " + message);
                    });
                }

                //TODO: Show installation status for the user
                installationStatusMessageInterval = setInterval(showInstallationStatus, 4000);
            });

            $(window).scroll(function () {
               if($(window).scrollTop() == $(document).height() - $(window).height()) {
                   console.log("Loading more modpacks...");

                   let version = $("#version-filter").val();
                   let categoryId = $("#category-filter").val();
                   // Get current modpack count
                   let currentModpacksCount = $("#modpacks-list").children().length;

                   $.ajax({
                       url: "/api/modpacks/search?categoryId=" + categoryId + "&size=20&version=" + version + "&index=" + currentModpacksCount,
                       method: "GET",
                       success: function (response) {
                           console.log(response);
                           appendModpacksToList(response);
                       }
                   });
                   // Load more mod
                }
            });
        });
    </script>

<div class="modal" tabindex="-1" role="dialog" id="server-install-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <div class="text-center">
                    <p>Your modpack is being installed. Please wait!</p>
                    <div class="loader" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <p id="installation-status"></p>
                </div>
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-primary" hidden id="open-server">Go to server</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-exmaple-modal-lg" tabindex="-1" role="dialog" id="modpack-modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="install-server">Install</button>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/fragments :: header"></div>

<div class="container mt-6" style="max-width: 1240px;">

    <h3 class="mt-3">Add server</h3>
    <hr>

    <div>
        <h5 style="display: inline-block;">Select the modpack you would like to install</h5>
        <div class="combo-boxes" style="display: inline-block; float: right;">
            <div style="display: inline-block;">
                <label for="category-filter">Filter By</label>
                <select id="category-filter" class="form-control" style="display: inline-block; width: auto;" th:field="*{categories}">
                    <option th:each="category : ${categories}" th:value="${category.getId()}" th:text="${category.getName()}"></option>
                </select>
            </div>
            <div style="display: inline-block;">
                <select id="version-filter" class="form-control" style="display: inline-block; width: auto;" th:field="*{versions}">
                    <th:block th:each="version : ${versions}">
                        <option th:if="${version == ''}" value="">All Game Versions</option>
                        <option th:if="${version != ''}" th:value="${version}" th:text="${version}"></option>
                    </th:block>
                </select>
            </div>
        </div>
    </div>
    <div id="modpacks-list" class="text-center" style="display: inline-block;">
        <th:block th:each="modpack : ${modpacks}">

            <div class="card mt-2 mr-2 card-clickable modpack-card">
                <img class="card-img-top" th:src="${modpack.getThumbnailUrl()}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title" th:text="${modpack.getName()}"></h5>
                    <p class="card-version" th:text="'Version: ' + ${modpack.version}"></p>
                    <input class="modpack-id" hidden th:value="${modpack.getId()}">
                    <p class="card-text" th:text="${modpack.getSummary()}"></p>
                </div>
            </div>

        </th:block>
    </div>


</div>

<div id="modpack-card-template" hidden>
    <div class="card mt-2 mr-2 card-clickable modpack-card">
        <img class="card-img-top" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-version"></p>
            <input class="modpack-id" hidden>
            <p class="card-text"></p>
        </div>
    </div>
</div>

</body>
</html>
