<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragments :: head (pageTitle='Server Panel')">
</head>
<body>
    <script type="text/javascript">
        $(document).ready(function () {
            let consoleUpdateIntervalId = null;

            function showStartStopButton() {
                let serverId = $("#server-id").val();
                $.ajax({
                    url: "/api/servers/status/" + serverId,
                    method: "GET",
                    dataType: "text"
                }).done(function (response) {
                    console.log("test");
                    console.log("Server is " + response);
                    if(response === "Running")
                    {
                        $("#server-li-item").append("<a id=\"toggle-button\" class=\"nav-link\" style=\"color: #007bff;text-decoration: none;background-color: transparent; cursor: pointer;\">Stop Server</a>");
                    }
                    else
                    {
                        $("#server-li-item").append("<a id=\"toggle-button\" class=\"nav-link\" style=\"color: #007bff;text-decoration: none;background-color: transparent; cursor: pointer;\">Start Server</a>");
                    }
                    $("#toggle-button").on("click", function (event) {
                        let serverId = $("#server-id").val();

                        let button = $(this);
                        button.prop("disabled", true);
                        button.text("");
                        button.append("<span class='spinner-border spinner-border-sm' role='status' aria-hidden='true'></span>");

                        $.ajax({
                            url: "/api/servers/" + serverId + "/toggle",
                            method: "POST"
                        }).done(function (response) {
                            location.reload();
                        });
                    });
                });
            }

            function updateConsole() {
                let serverId = $("#server-id").val();

                $.ajax({
                    url: "/api/servers/" + serverId + "/latest-log/" + 20,
                    method: "GET"
                }).done(function (response) {
                    console.log(response);
                    let serverConsole = document.getElementById("console");
                    serverConsole.value = response.join("\n");
                    serverConsole.scrollTop = serverConsole.scrollHeight;
                });
            }

            showStartStopButton();
            consoleUpdateIntervalId = setInterval(updateConsole, 5000);

            $("#save-settings").on("click", function () {

                let serverId = $("#server-id").val();
                let button = $(this);
                button.prop("disabled", true);
                button.text("");
                button.append("<span class='spinner-border spinner-border-sm' role='status' aria-hidden='true'></span>");

                let json = {};
                json["level_name"] = $("#server-level-name").val();
                json["online_mode"] = $("#server-online-mode").val();

                $.ajax({
                    url: "/api/servers/" + serverId + "/settings",
                    method: "POST",
                    contentType: "application/json",
                    data: JSON.stringify(json)
                }).done(function () {
                    location.reload();
                });
            });

            $("#console-input").on("keydown", function (event) {
                if (event.code === "Enter") {
                    let serverId = $("#server-id").val();
                    let command = $("#console-input").val();
                    $("#console-input").val("");

                    $.ajax({
                        url: "/api/servers/" + serverId + "/command",
                        method: "POST",
                        contentType: "text/plain",
                        data: command
                    }).done(function (response) {
                        console.log("Command sent!");
                        console.log(response);
                    });
                }
            });
        });


    </script>

    <div th:replace="fragments/fragments :: header"></div>
    <main class="container">

        <div id="server-panel">
            <input id="server-id" type="text" th:value="${server.getId()}" hidden>

            <ul class="nav nav-tabs" id="tabs" role="tablist">
                <li class="nav-link" role="presentation">
                    <a class="nav-link active" id="server-console-tab" data-toggle="tab" href="#server-console" role="tab" aria-controls="server-console" aria-selected="true">Console</a>
                </li>
                <li class="nav-link" role="presentation">
                    <a class="nav-link" id="server-settings-tab" data-toggle="tab" href="#server-settings" role="tab" aria-controls="server-settings" aria-selected="false">Settings</a>
                </li>
                <li class="nav-link float-right" role="presentation" id="server-li-item">
<!--                    <a th:if="${!server.isRunning()}" id="toggle-button" class="nav-link" style="color: #007bff;text-decoration: none;background-color: transparent; cursor: pointer;">Start Server</a>-->
<!--                    <a th:if="${server.isRunning()}" id="toggle-button" class="nav-link" style="color: #007bff;text-decoration: none;background-color: transparent; cursor: pointer;">Stop Server</a>-->
                </li>
            </ul>
            <div class="tab-content" id="tab-content">
                <div id="server-console" class="tab-pane fade show active" role="tabpanel" aria-labelledby="server-console-tab">
                    <div class="mt-2">
                        <textarea disabled class="form-control" id="console" style="resize: none; background-color: black; color: white; min-height: 400px;">
                        </textarea>
                        <input id="console-input" class="form-control" type="text" placeholder="Enter command here...">
                    </div>
                </div>

                <div id="server-settings" class="tab-pane fade" role="tabpanel" aria-labelledby="server-settings-tab">
                    <div class="container mt-2">
                        <div class="row">
                            <div class="col-sm">
                                <label for="server-level-name">Level Name</label>
                                <input name="level-name" id="server-level-name" class="form-control" type="text" th:value="${server.getServerProperties().getLevelName()}">
                            </div>
                            <div class="col-sm">
                                <label for="server-online-mode">Online Mode</label>
                                <input name="online-mode" id="server-online-mode" class="form-control" type="text" th:value="${server.getServerProperties().isOnlineMode()}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm">
                                <label for="server-port">Server Port</label>
                                <input name="server-port" id="server-port" class="form-control" type="text" th:value="${server.getServerProperties().getPort()}">
                            </div>
                            <div class="col-sm">
                                <label for="server-pvp">PVP</label>
                                <input name="server-pvp" id="server-pvp" class="form-control" type="text" th:value="${server.getServerProperties().isPvp()}">
                            </div>
                        </div>
                        <div class="mt-2 float-right">
                            <button id="save-settings" class="btn btn-primary" type="button">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
</body>
</html>
