/* You can add global styles to this file, and also import other style files */

:root {
  --mcsm-text-color-default: #adbac7;
  --mcsm-background-color-default: #2C332B;
}

body, html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--mcsm-background-color-default);
  color: var(--mcsm-text-color-default);
}
